* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }
  body {
    font-family: 'Work Sans', sans-serif;
    background: #F2F1EC;
    color: #fff;
    line-height: 1.5;
  }
  ul {
    list-style: none;
  }
  .logo {
    position: absolute;
    margin-left: 10%;
  }
  .navigation {
    position: relative;
    color: #8F420E;
    margin-left: 25%;
    padding-top: 2.5%;
    display: flex;
    justify-content: space-around;
  }
  .landingPic {
    display: block;
    width: 100%;
    height: auto;
  }
  .productsContainer {
    background-color: white;
  }
  .searchHeadingSection {
    margin-top: -25px;
  }
  .searchHeadingContent {
    margin-left: 12%;
    margin-right: 10%;
    display: flex;
    align-items: baseline;
    padding-top: 2rem;
  }
  .searchHeading {
    font-family: 'Work Sans', sans-serif;
    color: #8F420E;
    padding-right: 2%;
    font-weight: 200;
    font-size: 2.5rem;
  }
  .searchSide {
    font-family: 'Work Sans', sans-serif;
    color: #908F8F;
  }
  .ProductsSection {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
  }
  .allItems {
    font-family: 'Work Sans', sans-serif;
    direction: ltr;
    margin-left: 5%;
  }
  .items {
    padding: 8px 1px 8px 1px;
    color: #908F8F;
  }

.round1{
    border-radius:10px 0px 0px 0px;
    
}
.round2{
    border-radius:0px 10px 0px 0px;
    
}
.round3{
    border-radius:0px 0px 0px 10px;
    
}


.round4{
    border-radius:0px 0px 10px 0px;
    
}

  .items:hover {
    color: #8F420E;
    border-bottom: 2px solid #8F420E;
    cursor: pointer;
  }
  .items:focus {
    border-bottom: 2px solid #8F420E;
  }
  table {
    margin-left: 2%;
    
      width: 100%;
  }
  table tr:nth-child(odd) {
      background-color: #9D6448;

    
}
    
    table tr:nth-child(even) {
        background-color: #B6907D;
    }
    table td {
        padding: 15px 30px 15px 30px;
        font-family: 'Open Sans', sans-serif;
    }
    table tr td {
        border-right: 1px solid white ;
    }
    table tr td:last-child{
        border-right: none;
      }
  .download {
    padding: 15px 20px 15px 20px;
    background-color: #8F420E;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    margin-left: 35%;
    border-radius: 3%;
    margin-top: 3%;
    margin-bottom: 5%;  
    
  }
  .download:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .browseSuper {
    background-color: white;
  }
  .browseContainer {
    padding: 2rem;
  }
  .carouselHeading {
    position: relative;
    color: #8F420E;
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    margin-bottom: 4%;
    font-weight: 300;
  }
  .caroContainer {
    margin-left: 10%;
    margin-right: 10%;
  }
  .caroimage {
    object-fit: contain;
    height: 180px;
    margin-left: 5px;
    margin-right: 5px;
    color: #8F420E;
  }
  .nameImg {
    color: black;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  .scrollbar {
    height: 330px;
    width: 300px;
    background: #F2F1EC;
    direction: rtl;
    padding-left: 10px;
  }
  .force-overflow {
    min-height: 400px;
  }
  #style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: white;
  }
  #style-1::-webkit-scrollbar {
    width: 12px;
    background-color: white;
  }
  #style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    background-color: #B6907D;
  }
  .prevarrow {
    width: 50px;
  }
  .nextarrow {
    width: 50px;
  }
  .menuSelect {
    display: none;
  }
  .dropdown {
    display: none;
  }
  .scrollTrigger {
    display: none;
  }
  .caroArrange {
    display: flex;
  }
  .cakeContainer {
      width: 200px;
      overflow: hidden;
        position: absolute;
      bottom: 0;
      right: 0;
  }
  .ProductsSuper {
      position: relative;
  }
  .cake {
    
  }

  @media screen and (max-width: 756px) {
    .ProductsSection {
      flex-direction: column;
    }
    .items {
      color: #8F420E;
      width: 100%;
      border-bottom: 1px solid #B6907D;
    }
    .items:nth-of-type(1) {
      border-top: none;
    }
    .items:hover {
      background-color: #B6907D;
      color: white;
    }
    .scrollbar {
      height: 350px;
      width: 80%;
      position: absolute;
      background-color: white;
      border: 1px solid #8F420E;
      margin-left: 2%;
      display: none;
    }
    .allItems {
      margin-left: 0;
      text-align: center;
    }
    .dropdown {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 10px 30px 10px 30px;
      background-color: white;
      text-align: center;
      margin-left: 2%;
      border: 1px solid #8F420E;
      border-radius: 3%;
      font-family: 'Work Sans', sans-serif;
      color: #8F420E;
      font-size: 1rem;
      margin-bottom: 20px;
      cursor: pointer;
    }
      .searchHeading {
          width:60%;
    font-family: 'Work Sans', sans-serif;
    color: #8F420E;
    padding-right: 2%;
    font-weight: 200;
    font-size: 22px;
  }
  
      .searchSide{
             font-size: 15px;
 
      }
      
    #style-1::-webkit-scrollbar {
      width: 8px;
      background-color: white;
    }
    #style-1::-webkit-scrollbar-track {
      width: 12px;
    }
    .caret {
      padding-top: 6px;
    }
    .scrollbarContainer {
      width: 100%;
      background-color: white;
    }
    .navigation {
      display: none;
    }
    .browseSuper {
        display: none;
    }
    .cakeContainer {
        display: none;
    }
   
  }
  

@media screen and (max-width:767px){
    
      #Products {
    padding-top: 6rem;
  }

  #Products .ProductItems {
    margin: auto;
    margin: 30px 0px;
  }
#Products figure {
    width: 150px;
    height: 150px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }

  .sectionheader {
    font-size: 22px !important;
    font-family: "Work Sans", sans-serif !important;
    font-weight: 500 !important;
  }
.self-center {
    align-self: center;
}
    .flex-col {
    flex-direction: column;
}
.flex {
    display: flex;
}
    .download {
        margin-left: 12%;
        width: 80%;
    }
}
